body {
    background-color: #e0e0e0;
}

form {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
    max-width: 35%;
}

button {
    background: none;
}

input {
    padding: 2px;
}

select {
    padding: 2px
}

li {
    margin-bottom: 10px;
}

.container {
    margin: 10px;
}

#list {
    margin-bottom: 50px;
}

.product {
    padding: 10px;
    box-shadow: 1px 1px 5px black;
    max-width: 30%;
}

.checked-product {
    background-color: rgba(255, 0, 0, 0.4);
}

.buttons-container {
    border-radius: 8px;
    background-color: #292929;
    padding: 5px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.bought-items {
    background-color: rgba(149, 236, 149, 0.4);
}

.btn {
    border-radius: 4px;
    background-color: #292929;
    color: white;
    border: 0;
    transition: .2s ease;
}

.btn:hover {
    background-color: #e0e0e0;
    color: #292929;
    cursor: pointer;
}

.btn-delete {
    margin-left: auto;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    background-color: #ff3838;
    color: white;
}